@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="row py-5 px-4">
    <div class="col mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover-profile">
                <div class="media align-items-end profile-head-profile">
                    <div class="profile mr-3"><img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-outline-info btn-sm btn-block">Edit profile</a></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">@Model.UserName</h4>
                        <p>@Model.Email</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Role</h5>
                    </li>
                </ul>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    @if (Model.Role == "Учасник")
                    {
                        <h5 class="mb-0">Участия</h5>
                    }
                    else if (Model.Role == "Организатор")
                    {
                        <h5 class="mb-0">Мои проекти</h5>
                    }
                    else
                    {
                        <h5 class="mb-0">Мои проекти/Участия</h5>
                    }
                </div>
                <div class="row">
                    <div class="card-deck ">
                        @foreach (var project in Model.Projects)
                        {

                            <div class="card card-hover">
                                <img class="card-img-top card-image-hover image-cardAnimated" src="@project.Images" alt="Card image cap">
                                <div class="card-body text-center">
                                    <h5 class="card-title">@project.Title</h5>
                                    <p class="card-text">@project.Description</p>
                                </div>
                                <div class="card-footer text-muted">Създадена на: @project.CreatedOn</div>
                            </div>

                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    body {
        background: rgb(139,232,227);
        background: linear-gradient(180deg, rgba(139,232,227,1) 6%, rgba(255,255,255,1) 100%);
        min-height: 100vh
    }
</style>