@model ProjectViewModel
@{
    ViewData["Title"] = "Project";
}

<div class="card w-75 m-auto projectAnimated">
    <div class="card-header mb-3">
        <h3 class="font-weight-bold text-center">@Model.Title</h3>
    </div>
    <img class="card-img w-75 m-auto" src="@Model.Images" alt="@Model.Title" />
    <h4 class="text-center mt-5">Описание</h4>
    <p class="text-center">@Model.Description</p>
    <p class="text-center">Ще се проведе на: @Model.Date</p>
    <div class='card-panel grey lighten-3 text-center mb-3'>
        @if (Model.Partisipant == true)
        {
            <h6 class="text-center mt-5">😃 Ти вече участваш в проекта 😃</h6>
            if (Model.CreatorName != this.User.Identity.Name)
            {
                <a class="btn btn-info mt-3" href="/Projects/ExitProject?id=@Model.id">Откажи се!</a>
            }
        }
        else
        {
            <h4 class="text-center mt-5">Искаш да се присъединиш?</h4>
            <p>Участници: @Model.PartisipiantCoint</p>
            if (Model.CreatorName != this.User.Identity.Name)
            {
                <a class="btn btn-info mt-3" href="/Projects/Join?id=@Model.id">Присъедини се!</a>
            }
        }
    </div>
    <div class="card-footer mt-3">
        <p>Създаден на: @Model.CreatedOn</p>
    </div>
</div>