@model List<Project> 
@{
    ViewData["Title"] = "Celendar";
}

@{
    string[] months = {"Януари", "Февруари", "Март", "Април", "Май", "Юни", "Юли", "Август", "Септември", "Октомври", "Ноември", "Декември"};
    string tags = "</tr><tr>";}
<table>
    <summary><strong>@months[DateTime.Today.Month - 1]</strong> @DateTime.Today.Year</summary>
    <thead>
        <tr>
            <th>Пон</th>
            <th>Вто</th>
            <th>Сря</th>
            <th>Чет</th>
            <th>Пет</th>
            <th>Съб</th>
            <th>Нед</th>
        </tr>
    </thead>
    <tr>
        @for (int i = 1; i <= DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month); i++)
        {
            @if (i == 8 || i == 15 || i == 22 || i == 29)
            {
                @Html.Raw(tags);
            }
            @if ((i + 1) % 7 == 0 || i % 7 == 0)
            {
                <td>
                    <span class="weekend date">@i</span>
                    @foreach (var project in @Model)
                    {
                        @if (project.Date == new DateTime(DateTime.Today.Year, DateTime.Today.Month, i))
                        {
                            <a href="/Projects/Project/@project.Id">project.Title</a>
                        }
                    }
                </td>
            }
            else
            {
                <td>
                    <span class="date">@i</span>
                    @foreach (var project in @Model)
                    {
                        @if (project.Date == new DateTime(DateTime.Today.Year, DateTime.Today.Month, i))
                        {
                            <a href="/Projects/Project/@project.Id">project.Title</a>
                        }
                    }
                </td>
            }
        }
    </tr>
</table>
